.auth__menu {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.auth__item {
  padding: 0 15px;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  text-align: center;
  
  &:first-of-type {
    border-left: none;
  }
}

.auth__menu {
  
  
  
  
}

