.cart {
  color: #ffffff;
  display: flex;
}

.cart__img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f10e34;
}