.page-header {
  background-color: #222222;
}

.page-header__inner {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-header__inner-inner {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 15px 0 25px 135px;
}

.page-header__inner-inner-inner { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 0 0;
}

